.ui-dialog-content #page
{
  width: 100%;
}

.ui-dialog .view-field-node-nid span
{
  cursor: pointer;
  width: 16px;
  height: 16px;
  display: block;
  background-image: url(images/note_new.gif);
  background-repeat: no-repeat;
}

.ui-dialog .view-field-node-nid span.nr_popup-delete
{
  background-image: url(images/note_delete.gif);
}

.ui-dialog .view-field-node-nid span.nr_popup-throbbing {
  background-position: 100% -18px;
}
